#welcome, #quiz, #inputScore, #highScores {
    width: 70%;
}

#quiz, #inputScore, #highScores {
    display: none;
}

.main-container {
    background-color: white;
}

.scores {
	display:flex;
	color: #c71585;
	font-size: 35px;
	margin-left: 20px;
    cursor: pointer;
}

.time {
	display: flex;
	margin-left: 1700px;
	font-size: 35px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    margin-left: 900px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c71585;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btn:hover {
    background-color: #800080;
}
  
  .btn:active {
    background-color: #cf71af;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .row {
    justify-content: space-around;
  }

.title {
    display: flex;
    margin-left: 600px;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-left: 650px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#ask_question {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 650px;
}

#btn-0, #btn-1, #btn-2, #btn-3 {
    margin-left: 650px;
    padding: 15px 40px;
}

#check_line {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#end, .final {
    display: flex;
    justify-content: center;
    margin-left: 550px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.enterInitial {
    display: flex;
    margin-left: 750px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.bold {
    display: flex;
    margin-left: 800px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#scores {
    margin-left: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#goBack, #clearScores {
    margin-left: 800px;
}